<div class="container">
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="./assets/img/me.jpeg" class="card-img img-fluid animated fadeIn" alt="...">
            </div>
            <div class="col-md-8 animated fadeIn">
                <div class="card-body">
                    <div>
                        <h1 class="card-title animated fadeIn fast">Carlos Harold Ñahuiña Balbuena</h1>
                        <p class="card-text animated fadeIn"><small class="text-muted">UI Designer & Software Developer
                            </small></p>
                    </div>

                    <p class="card-text bio">Cuento con 5 Años de experiencia como desarrollador de software, alternando
                        proyectos como desarrollador Móvil y Frontend, experiencia en tecnologías Android con java,
                        Spring Boot, Unity con Vuforia, Flutter, Angular, css, html5, PHP, Sketch, Figma, Adobe
                        Photoshop e Illustrator.</p>


                    <hr>
                    <div class="d-flex justify-content-around animated fadeIn">
                        <i class="social fab fa-linkedin"></i>
                        <i class="social fab fa-github-square"></i>
                        <i class="social fab fa-behance-square"></i>
                        <i class="social fab fa-twitter-square"></i>
                        <i class="social fab fa-whatsapp-square"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>